[submodule "AutoSportLabs"]
	path = AutoSportLabs
	url = git@github.com:autosportlabs/eagle_lbr.git
[submodule "JonnyRadu"]
	path = JonnyRadu
	url = git@github.com:jonnyradu/EagleCad-Libraries-.git
[submodule "Adafruit-Eagle-Library"]
	path = Adafruit-Eagle-Library
	url = git@github.com:adafruit/Adafruit-Eagle-Library.git
[submodule "SparkFun-Eagle-Libraries"]
	path = SparkFun-Eagle-Libraries
	url = https://github.com/sparkfun/SparkFun-Eagle-Libraries.git
[submodule "DM Urievich"]
	path = DM Urievich
	url = https://github.com/dm-urievich/eagle-lib.git
